$green-1:#2F4F4F;
$green-2:#1F3436;
$green-3:#53993A;
$pink:#EB7571;
$black-1:#313940;
$black-2:#505457;
$border:#DEDEDE;
$bg-gray:#F6F8FA;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    font-size: 13px;
}
body{
    font-family: 'Roboto', sans-serif;  
    font-weight: 400;
}
.sidebar-menu-scroll{
    background: $green-1;
}
.search-headtop{
    width: 300px;
    background: #F6F7F8;
    border-radius: 60px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: $black-1;
}

.title-page{
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    float: left;
    margin-right: 20px;
}
.box-filter{
    float: right;
    span, .select-box{
        float: left;
    }

    .custom-select, span{
        border: 0;
        background: none;
        padding: 0;
        height: auto;
        margin-left: 15px;
        line-height: 20px;
    }
    .select-box{
        padding-left: 10px;
        span{
            border: 0;
            background: none;
            font-weight: 600;
            padding: 0;
            height: auto;
            width: 100%;
            margin-left:0;
            padding-left: 0;
            line-height: 20px;
        }
    }
}
.label-filter{
    margin-top: 3px;
}
.filter-date{
    float: left;
    width: auto !important;
    background: #fff;
    border: 1px solid #ced4da;
    padding-right: 10px;
    height: 32px;
    margin: -1px 0 0 10px;
    input{
        width: 120px !important;
        max-width: initial !important;
        min-width: auto !important;
        flex: initial !important;
        border: 0;
        padding: 0 10px;
        height: 30px;
    }
}
.select-box > span{
    width: auto !important;
}
.select-box > span > span{
    width: auto !important;
    border: 0 !important;
    box-shadow: none !important;
}
.select2-dropdown.select2-dropdown--below{
    box-shadow: none !important;
    border: 0 !important;
}
.table-content{
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    .dataTables_length, .dataTables_filter, .dataTables_info{
        display: none;
    }
    .col-sm-12.col-md-7{
        flex: 100%;
        max-width: 100%;
        ul.pagination {
            margin: auto;
            white-space: nowrap;
            justify-content: center;
            text-align: center;
            li{
                &.active{
                    a{
                        color: #53993A;
                        border: 1px solid #53993A;
                    }
                }
                a{
                    background: none;
                    border: 0;
                }
            }
        }
    }
}
.search-user{
    float: left;
    position: relative;     
    width: 200px;
    background: #fff;
    border-radius: 1px;
    border: 1px solid $border;
    padding-right:30px;
    height: 32px;
    i{
        position: absolute;
        right: 5px;
        top: 5px;
        color: #a9a9a9;
        font-size: 20px;
    }
    input{
        height: 30px;
        width: 100%;
        outline: none;
        border: 0;
        padding-left: 5px;
        background: #fff;
    }
}

.infor-customer{
    width: 90px;
    border-radius: 41px;
    display: inline-block;
    height: 28px;
    background: #F2F5F8;
    border: 1px solid #D1D7DB;
    display: inline-block;
    padding: 3px 10px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    i,span{
        color: $green-1;
        float: left;
    }
    i{
        margin-top: 2px;
    font-size: 15px;
    margin-right:5px;
    }
    span{
        margin-top: 1px;
    }
    &:hover{
        background: #53993A;
        border: 1px solid #53993A;
        i,span{
            color: #fff;
        }
    }
}
.appoiment-box{
    img{
        margin-top: 24px;
        margin-right: 15px;
    }
}
.add-customer{
    float: right;
    margin-left: 15px;
    a{
        width: 75px;
        height: 30px;
        padding: 1px 7px;
        float: left;
        background: #53993A;
        border-radius: 1px;
        border: 0;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        transition: all .2s linear;
        &:hover{
            opacity: .9;
        }
        i{
            font-size: 20px;
            float: left;
            margin-top: 1px;
            color: #fff;
        }
        span{
            font-size: 13px;
            color: #fff;
            float: left;
            margin: 0;
            padding: 0;
            margin-top: 4px;
        }
    }
}
.filter-date{
    i{
        &.mdi.mdi-calendar{
            font-size: 17px;
            opacity: .5;
        }
    }
}
ul.select2-results__options{
    width: 170px;
    background: #fff;
}

.datepicker table tr td.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover{
    background:#53993A !important;
}
.table-content{
    table{
        border: 1px solid $border !important;
        border-collapse: collapse; border-spacing: 0; width: 100%;
        thead{
            background: #EBECEF !important;
            border: 1px solid #D1D7DB !important;
            th{
                border-top: 0 !important;
                border-bottom: 0 !important;
            }

            .action-table{
                &::after, &::before{
                    display: none;
                }
            }
            .numerical{
                text-align: center;
            }
        }
        tbody{
            tr{
                &:hover{
                    background: #E8F2E4;
                    .infor-customer{
                        background: #53993A;
                        border: 1px solid #53993A;
                        i,span{
                            color: #fff;
                        }
                    }
                }
                td{
                    vertical-align: inherit !important;
                }
            }
        }
        &.numerical{
            tbody{
                tr{
                    td:nth-child(1){
                        text-align: center;
                    }
                }
            }
        }
    }
}
.table-bordered td, .table-bordered th {
    border: 1px solid #d2d2d2;
}
.infor-customer-page{
    position: relative;
    padding-left: 245px;
    padding-right: 345px;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: -19px;
    margin-bottom: -20px;
    .personal-customer{
        position: fixed;
    left: 200px;
    width: 230px;
    top: 71px;
    padding: 10px;
    background: #fff;
    height: calc(100% - 10px);
    border-right: 1px solid #DEDEDE;
    }   
    .deadl-customer{
        position: fixed;
        right: 0;
        width: 330px;
        height: 100%;
        top: 71px;
        border-left: 1px solid $border;
        background: #fff;
    }
    .history-customer{
        width:100%;
        display: inline-block;
    }
}

.vertical-collpsed{
    .personal-customer{
        
    left: 70px;
}
}
.button-checkin{
    display: inline-block;
    width: 100%;
    button{
height: 40px;
background: #E8F2E4;
border: 1px solid #53993A;
-webkit-transition: all .2s linear;
-moz-transition: all .2s linear;
transition: all .2s linear;
display: inline-block;
    width: 100%;
box-sizing: border-box;
text-align: center;
border-radius: 2px;
i{
    font-size: 16px;
    color: $green-3;
margin-right: 7px;
}
span{
    font-weight: 500;
font-size: 13px;
text-transform: uppercase;
color: $green-3;

}
&:hover{
    background: $green-3;
    i,span{
        color: #fff;
    }
}
    }
}
.total-money{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    ul{
        padding: 0;
        li{
            padding: 0;
            margin-bottom: 15px;
            span{
                float: left;
                text-align: left;
                width:50%;
            }
            b{
                font-size: 14px;
                float: left;
                text-align: right;
                width:50%;
            }
        }
    }
}
.debt{
    color: $pink;
}
/*--personal-customer--*/
.personal-customer{
    .avatar-box{
        position: relative;
        h2{
            font-size: 14px;
            font-weight: 600;
            color: #313940;
            padding-left: 10px;
            display: inline-block;
            position: absolute;
            top: 20px;
        }
        avatar-account{
            width: 60px;
            position: relative;
            float: left;
            .avatar-img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
            }

            .btn-change-avatar{
                position: absolute;
                bottom: -4px;
                left: 43px;
                width: 21px;
                padding: 4px;
                cursor: pointer;
                background: #fff;
                border-radius: 4px;
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.09);
            }
        }
    }
}
.box-information{
    padding: 30px 0 0 0;
    display: inline-block;
    width: 100%;
    ul{
        padding: 0;
        li{
            display: flex;
            margin-bottom: 10px;
            i{
                color: $green-3;
                font-size: 16px;
            }
            span{
                padding-left: 10px;
            }
        }
    }
}


.history-customer{
    padding: 10px 0;
    .content-field-customer{
        .tab-content>.active {
            display: block;
            opacity: 1;
        }
        ul{
            &.nav.nav-tabs{
                border-bottom: 1px solid #D1D7DB;
                margin-bottom: 15px;
                padding-bottom: 10px;
                li{
                    a{
                        font-size: 16px;
                        color: $black-1;
                        font-weight: 400;
                        padding-bottom: 10px;
                        padding:15px;
                        position: relative;
                        padding-bottom: 10px !important;
                        
                        &.active{
                            color: $green-3;
                            &::after{
                                position: absolute;
                                bottom: -5px;
                                display: block;
                                content: '';
                                height: 3px;
                                width: 100%;
                                background: $green-3;
                            }
                        }
                    }
                   
                }
            }
        }
    }
}
.form-infor{
    background: white;
    border-radius: 1px;
    border: 1px solid $border;
    padding:10px
}

.item-filed{
    textarea{
        border: 0;
        border-bottom: 1px solid $border;
        border-radius: 0;
        padding:0;
        width: 100%;
        margin-bottom: 0;
    }
    input{
        border: 0;
        border-bottom: 1px solid $border;
        border-radius: 0;
        padding:0;
        outline: none;
        width: 100%;
        margin-bottom: 0;
        &:focus{
            border-bottom: 1px solid $green-3;
        }

        &::placeholder{
            color: #a9a9a9;
        }
    }
    label{
        font-weight: normal;
        display: inline-block;
        width: 100%;
        margin-bottom: 0;
    }
}
.focus-filed{
   
    label{
        color: #EB7571;
    }
}
.padding-body-right{
    padding-right: 55px !important;
}
.btn-popup-bottom{
    display: none;
    .main-button{
        width: 330px;
        right: 0;
        left: auto;
    }
}

.deal-hide{
    width: 40px !important;
    .services-box{
        opacity: 0;
    }
    .less-columns{
        img{
            transform: rotate(180deg);
        }

    }
}
.modal-backdrop{

    z-index: 9999;
}
.modal{
    z-index: 99999;
}
.right-bar-enabled{
    .btn-popup-bottom{
        display: block !important;
    }
}
.amount-filed{
    span{
        button{
            background: none !important;
            border: 1px solid #ddd !important;
            width: 30px;
            height: 30px;
            border-radius: 2px !important;
            color: #ddd !important;
            font-size: 19px !important;
            padding: 0;
            font-weight: normal;
            margin-top: 6px;
            &:hover{
                background: $green-3 !important;
            border: 1px solid $green-3 !important;
            color:white !important;
            }
        }
    }
    input{
        border: 0;
        font-size: 16px;
        text-align: center;
    }
}
.main-button{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 50px;
    border-top: 1px solid #D1D7DB;
    z-index: 9990;
    background: #F6F8FA;
    padding-top: 10px;
    left: 0;
    button{
        border: 0 !important;
        box-shadow: none;
        min-width: 90px;
        &.cancel{
            background: #D1D7DB;
            border-radius: 2px;
            color: #92A2AE;
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
        }
        &.focus{
            background: $green-3;
            border-radius: 2px;
            color: #fff;
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;box-shadow: none !important;
        }
    }
}
.date-popup{opacity: .8}
.custom-control-label::after {
    position: absolute;
    top: .24rem;
    left: -1.5rem;
    display: block;
    width: 14px;
    height: 14px;
    content: "";
    background: no-repeat 50%/50% 50%;
}
.custom-control-label::before {
    position: absolute;
    top: .175rem;
    left: -1.5rem;
    display: block;
    width: 15px;
    height: 15px;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}
.less-columns{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid $border;
    padding: 12px;
    img{
        cursor: pointer;
    }
}
.services-box{
    border-bottom: 1px solid #DEDEDE;
    padding: 15px 5px;
    display: inline-block;
    width: 100%;
    ul{
        display: inline-block;
        width: 100%;
        padding: 5px;
        margin-bottom: 0;
        li{
            list-style: none;
            display: inline-block;
            width: 100%;
            margin-bottom: 10px;
            .item-deal{
                border: 1px solid #E8EDF3;
                border-radius: 2px;
                padding: 10px;
                h6{
                    
                    font-size: 13px;
                    font-weight: 600;
                    display: inline-block;
                    width: 100%;
                    text-transform: uppercase;
                }
                P{
                    float: left;
                    margin-right: 10px;
                    span{
                        margin-right:4px;
                    }
                }
            }
            &:nth-last-child(1){
                margin-bottom: 0;
            }
        }
    }
}
.btuon-action-itemdeal{
    display: inline-block;
    width: 100%;
    text-align: right;
    button{
        min-width: 75px;
        padding:4px 10px;
        &.normal{
            color: $black-2;
            border-radius: 2px;
            background: #F2F5F8;
            border: 1px solid #D1D7DB;
        }
        &.focus{
            color: $green-3;
            background: #E8F2E4;
            border: 1px solid $green-3;
        }
        &:hover{
            background: $green-3 !important;
            color: white !important;
            border: 1px solid $green-3 !important;
        }
    }
}
.hed-columns-right{
    .show-icon{
        float: left;
        cursor: pointer;
        margin-right: 5px;
        i{
            font-size: 20px;
            color: $black-2;
        }
    }
    h6{
        float: left;
        font-size: 16px;
        color: $green-1;
        font-weight: 600;
    }

}

.search-add{
    float: right;
    .search-box{
        float: left;
        margin: -3px 0px 0 0;
        width: 130px;
        background: #f5f5f5;
        height: 30px;
        padding: 4px;
        text-align: right;
        position: relative;
        padding-right: 26px;
        border-radius: 4px;
        i{
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 4px;
            font-size: 15px;
        }input{
            width: 100%;
            border: none;
            box-shadow: none;
            height: 22px;
            background: none;
        }

    }

    button{
        border: 0;
        color: #EB7571;
        background: none;
        float: left;
        margin-top: -6px;
        height: auto;
        i{
            padding: 0;
            font-size: 22px;
            color: $pink;
        }
    }
}

.viewall{
    display: inline-block;
text-align: center;
    width: 100%;
    margin-top: 10px;
    a{
        color: $pink;
        &:hover{
            text-decoration: underline !important;
        }
    }
}
.head-popup-right{
    background: linear-gradient(90deg, #2F4F4F 0%, #53993A 100%);
    padding: 10px !important;
    h5{
        text-transform: uppercase;
        font-size: 14px;
        color: white;
    }
    a{
        i{
            font-size: 20px;
            color: white;
            float: left;
            margin-top: -7px;
        }
    }
    span{
        i{
            font-size: 16px;
            font-weight: normal;
            color: white;
        }
    }
}
.modal-content{
    border: 0;
}
.btn-action-popup{
    a{
        i{
            font-size: 20px;
            color: $green-3;
        }
    }
}
.table td, .table th {
    border: 1px solid #dadada;
}
.table .thead-light th {
    color: #495057;
    background-color: #f8f9fa;
    border-color: #e4e4e4;
    border-bottom: 0 !important;
}
.table-popup{
    table{
        tr{
            td{
                padding: 5px;
                vertical-align: initial;
            }
        }
    }
}
.btn-action-popup{
    text-align: center;
}