@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  font-size: 13px; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.sidebar-menu-scroll {
  background: #2F4F4F; }

.search-headtop {
  width: 300px;
  background: #F6F7F8;
  border-radius: 60px; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #313940; }

.title-page {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  float: left;
  margin-right: 20px; }

.box-filter {
  float: right; }
  .box-filter span, .box-filter .select-box {
    float: left; }
  .box-filter .custom-select, .box-filter span {
    border: 0;
    background: none;
    padding: 0;
    height: auto;
    margin-left: 15px;
    line-height: 20px; }
  .box-filter .select-box {
    padding-left: 10px; }
    .box-filter .select-box span {
      border: 0;
      background: none;
      font-weight: 600;
      padding: 0;
      height: auto;
      width: 100%;
      margin-left: 0;
      padding-left: 0;
      line-height: 20px; }

.label-filter {
  margin-top: 3px; }

.filter-date {
  float: left;
  width: auto !important;
  background: #fff;
  border: 1px solid #ced4da;
  padding-right: 10px;
  height: 32px;
  margin: -1px 0 0 10px; }
  .filter-date input {
    width: 120px !important;
    max-width: initial !important;
    min-width: auto !important;
    flex: initial !important;
    border: 0;
    padding: 0 10px;
    height: 30px; }

.select-box > span {
  width: auto !important; }

.select-box > span > span {
  width: auto !important;
  border: 0 !important;
  box-shadow: none !important; }

.select2-dropdown.select2-dropdown--below {
  box-shadow: none !important;
  border: 0 !important; }

.table-content {
  display: inline-block;
  width: 100%;
  margin: 20px 0; }
  .table-content .dataTables_length, .table-content .dataTables_filter, .table-content .dataTables_info {
    display: none; }
  .table-content .col-sm-12.col-md-7 {
    flex: 100%;
    max-width: 100%; }
    .table-content .col-sm-12.col-md-7 ul.pagination {
      margin: auto;
      white-space: nowrap;
      justify-content: center;
      text-align: center; }
      .table-content .col-sm-12.col-md-7 ul.pagination li.active a {
        color: #53993A;
        border: 1px solid #53993A; }
      .table-content .col-sm-12.col-md-7 ul.pagination li a {
        background: none;
        border: 0; }

.search-user {
  float: left;
  position: relative;
  width: 200px;
  background: #fff;
  border-radius: 1px;
  border: 1px solid #DEDEDE;
  padding-right: 30px;
  height: 32px; }
  .search-user i {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #a9a9a9;
    font-size: 20px; }
  .search-user input {
    height: 30px;
    width: 100%;
    outline: none;
    border: 0;
    padding-left: 5px;
    background: #fff; }

.infor-customer {
  width: 90px;
  border-radius: 41px;
  display: inline-block;
  height: 28px;
  background: #F2F5F8;
  border: 1px solid #D1D7DB;
  display: inline-block;
  padding: 3px 10px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear; }
  .infor-customer i, .infor-customer span {
    color: #2F4F4F;
    float: left; }
  .infor-customer i {
    margin-top: 2px;
    font-size: 15px;
    margin-right: 5px; }
  .infor-customer span {
    margin-top: 1px; }
  .infor-customer:hover {
    background: #53993A;
    border: 1px solid #53993A; }
    .infor-customer:hover i, .infor-customer:hover span {
      color: #fff; }

.appoiment-box img {
  margin-top: 24px;
  margin-right: 15px; }

.add-customer {
  float: right;
  margin-left: 15px; }
  .add-customer a {
    width: 75px;
    height: 30px;
    padding: 1px 7px;
    float: left;
    background: #53993A;
    border-radius: 1px;
    border: 0;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear; }
    .add-customer a:hover {
      opacity: .9; }
    .add-customer a i {
      font-size: 20px;
      float: left;
      margin-top: 1px;
      color: #fff; }
    .add-customer a span {
      font-size: 13px;
      color: #fff;
      float: left;
      margin: 0;
      padding: 0;
      margin-top: 4px; }

.filter-date i.mdi.mdi-calendar {
  font-size: 17px;
  opacity: .5; }

ul.select2-results__options {
  width: 170px;
  background: #fff; }

.datepicker table tr td.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover {
  background: #53993A !important; }

.table-content table {
  border: 1px solid #DEDEDE !important;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }
  .table-content table thead {
    background: #EBECEF !important;
    border: 1px solid #D1D7DB !important; }
    .table-content table thead th {
      border-top: 0 !important;
      border-bottom: 0 !important; }
    .table-content table thead .action-table::after, .table-content table thead .action-table::before {
      display: none; }
    .table-content table thead .numerical {
      text-align: center; }
  .table-content table tbody tr:hover {
    background: #E8F2E4; }
    .table-content table tbody tr:hover .infor-customer {
      background: #53993A;
      border: 1px solid #53993A; }
      .table-content table tbody tr:hover .infor-customer i, .table-content table tbody tr:hover .infor-customer span {
        color: #fff; }
  .table-content table tbody tr td {
    vertical-align: inherit !important; }
  .table-content table.numerical tbody tr td:nth-child(1) {
    text-align: center; }

.table-bordered td, .table-bordered th {
  border: 1px solid #d2d2d2; }

.infor-customer-page {
  position: relative;
  padding-left: 245px;
  padding-right: 345px;
  margin-right: -10px;
  margin-left: -10px;
  margin-top: -19px;
  margin-bottom: -20px; }
  .infor-customer-page .personal-customer {
    position: fixed;
    left: 200px;
    width: 230px;
    top: 71px;
    padding: 10px;
    background: #fff;
    height: calc(100% - 10px);
    border-right: 1px solid #DEDEDE; }
  .infor-customer-page .deadl-customer {
    position: fixed;
    right: 0;
    width: 330px;
    height: 100%;
    top: 71px;
    border-left: 1px solid #DEDEDE;
    background: #fff; }
  .infor-customer-page .history-customer {
    width: 100%;
    display: inline-block; }

.vertical-collpsed .personal-customer {
  left: 70px; }

.button-checkin {
  display: inline-block;
  width: 100%; }
  .button-checkin button {
    height: 40px;
    background: #E8F2E4;
    border: 1px solid #53993A;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 2px; }
    .button-checkin button i {
      font-size: 16px;
      color: #53993A;
      margin-right: 7px; }
    .button-checkin button span {
      font-weight: 500;
      font-size: 13px;
      text-transform: uppercase;
      color: #53993A; }
    .button-checkin button:hover {
      background: #53993A; }
      .button-checkin button:hover i, .button-checkin button:hover span {
        color: #fff; }

.total-money {
  display: inline-block;
  margin-top: 20px;
  width: 100%; }
  .total-money ul {
    padding: 0; }
    .total-money ul li {
      padding: 0;
      margin-bottom: 15px; }
      .total-money ul li span {
        float: left;
        text-align: left;
        width: 50%; }
      .total-money ul li b {
        font-size: 14px;
        float: left;
        text-align: right;
        width: 50%; }

.debt {
  color: #EB7571; }

/*--personal-customer--*/
.personal-customer .avatar-box {
  position: relative; }
  .personal-customer .avatar-box h2 {
    font-size: 14px;
    font-weight: 600;
    color: #313940;
    padding-left: 10px;
    display: inline-block;
    position: absolute;
    top: 20px; }
  .personal-customer .avatar-box avatar-account {
    width: 60px;
    position: relative;
    float: left; }
    .personal-customer .avatar-box avatar-account .avatar-img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover; }
    .personal-customer .avatar-box avatar-account .btn-change-avatar {
      position: absolute;
      bottom: -4px;
      left: 43px;
      width: 21px;
      padding: 4px;
      cursor: pointer;
      background: #fff;
      border-radius: 4px;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.09); }

.box-information {
  padding: 30px 0 0 0;
  display: inline-block;
  width: 100%; }
  .box-information ul {
    padding: 0; }
    .box-information ul li {
      display: flex;
      margin-bottom: 10px; }
      .box-information ul li i {
        color: #53993A;
        font-size: 16px; }
      .box-information ul li span {
        padding-left: 10px; }

.history-customer {
  padding: 10px 0; }
  .history-customer .content-field-customer .tab-content > .active {
    display: block;
    opacity: 1; }
  .history-customer .content-field-customer ul.nav.nav-tabs {
    border-bottom: 1px solid #D1D7DB;
    margin-bottom: 15px;
    padding-bottom: 10px; }
    .history-customer .content-field-customer ul.nav.nav-tabs li a {
      font-size: 16px;
      color: #313940;
      font-weight: 400;
      padding-bottom: 10px;
      padding: 15px;
      position: relative;
      padding-bottom: 10px !important; }
      .history-customer .content-field-customer ul.nav.nav-tabs li a.active {
        color: #53993A; }
        .history-customer .content-field-customer ul.nav.nav-tabs li a.active::after {
          position: absolute;
          bottom: -5px;
          display: block;
          content: '';
          height: 3px;
          width: 100%;
          background: #53993A; }

.form-infor {
  background: white;
  border-radius: 1px;
  border: 1px solid #DEDEDE;
  padding: 10px; }

.item-filed textarea {
  border: 0;
  border-bottom: 1px solid #DEDEDE;
  border-radius: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 0; }
.item-filed input {
  border: 0;
  border-bottom: 1px solid #DEDEDE;
  border-radius: 0;
  padding: 0;
  outline: none;
  width: 100%;
  margin-bottom: 0; }
  .item-filed input:focus {
    border-bottom: 1px solid #53993A; }
  .item-filed input::placeholder {
    color: #a9a9a9; }
.item-filed label {
  font-weight: normal;
  display: inline-block;
  width: 100%;
  margin-bottom: 0; }

.focus-filed label {
  color: #EB7571; }

.padding-body-right {
  padding-right: 55px !important; }

.btn-popup-bottom {
  display: none; }
  .btn-popup-bottom .main-button {
    width: 330px;
    right: 0;
    left: auto; }

.deal-hide {
  width: 40px !important; }
  .deal-hide .services-box {
    opacity: 0; }
  .deal-hide .less-columns img {
    transform: rotate(180deg); }

.modal-backdrop {
  z-index: 9999; }

.modal {
  z-index: 99999; }

.right-bar-enabled .btn-popup-bottom {
  display: block !important; }

.amount-filed span button {
  background: none !important;
  border: 1px solid #ddd !important;
  width: 30px;
  height: 30px;
  border-radius: 2px !important;
  color: #ddd !important;
  font-size: 19px !important;
  padding: 0;
  font-weight: normal;
  margin-top: 6px; }
  .amount-filed span button:hover {
    background: #53993A !important;
    border: 1px solid #53993A !important;
    color: white !important; }
.amount-filed input {
  border: 0;
  font-size: 16px;
  text-align: center; }

.main-button {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 50px;
  border-top: 1px solid #D1D7DB;
  z-index: 9990;
  background: #F6F8FA;
  padding-top: 10px;
  left: 0; }
  .main-button button {
    border: 0 !important;
    box-shadow: none;
    min-width: 90px; }
    .main-button button.cancel {
      background: #D1D7DB;
      border-radius: 2px;
      color: #92A2AE;
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase; }
    .main-button button.focus {
      background: #53993A;
      border-radius: 2px;
      color: #fff;
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
      box-shadow: none !important; }

.date-popup {
  opacity: .8; }

.custom-control-label::after {
  position: absolute;
  top: .24rem;
  left: -1.5rem;
  display: block;
  width: 14px;
  height: 14px;
  content: "";
  background: no-repeat 50%/50% 50%; }

.custom-control-label::before {
  position: absolute;
  top: .175rem;
  left: -1.5rem;
  display: block;
  width: 15px;
  height: 15px;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #adb5bd solid 1px; }

.less-columns {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #DEDEDE;
  padding: 12px; }
  .less-columns img {
    cursor: pointer; }

.services-box {
  border-bottom: 1px solid #DEDEDE;
  padding: 15px 5px;
  display: inline-block;
  width: 100%; }
  .services-box ul {
    display: inline-block;
    width: 100%;
    padding: 5px;
    margin-bottom: 0; }
    .services-box ul li {
      list-style: none;
      display: inline-block;
      width: 100%;
      margin-bottom: 10px; }
      .services-box ul li .item-deal {
        border: 1px solid #E8EDF3;
        border-radius: 2px;
        padding: 10px; }
        .services-box ul li .item-deal h6 {
          font-size: 13px;
          font-weight: 600;
          display: inline-block;
          width: 100%;
          text-transform: uppercase; }
        .services-box ul li .item-deal P {
          float: left;
          margin-right: 10px; }
          .services-box ul li .item-deal P span {
            margin-right: 4px; }
      .services-box ul li:nth-last-child(1) {
        margin-bottom: 0; }

.btuon-action-itemdeal {
  display: inline-block;
  width: 100%;
  text-align: right; }
  .btuon-action-itemdeal button {
    min-width: 75px;
    padding: 4px 10px; }
    .btuon-action-itemdeal button.normal {
      color: #505457;
      border-radius: 2px;
      background: #F2F5F8;
      border: 1px solid #D1D7DB; }
    .btuon-action-itemdeal button.focus {
      color: #53993A;
      background: #E8F2E4;
      border: 1px solid #53993A; }
    .btuon-action-itemdeal button:hover {
      background: #53993A !important;
      color: white !important;
      border: 1px solid #53993A !important; }

.hed-columns-right .show-icon {
  float: left;
  cursor: pointer;
  margin-right: 5px; }
  .hed-columns-right .show-icon i {
    font-size: 20px;
    color: #505457; }
.hed-columns-right h6 {
  float: left;
  font-size: 16px;
  color: #2F4F4F;
  font-weight: 600; }

.search-add {
  float: right; }
  .search-add .search-box {
    float: left;
    margin: -3px 0px 0 0;
    width: 130px;
    background: #f5f5f5;
    height: 30px;
    padding: 4px;
    text-align: right;
    position: relative;
    padding-right: 26px;
    border-radius: 4px; }
    .search-add .search-box i {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 4px;
      font-size: 15px; }
    .search-add .search-box input {
      width: 100%;
      border: none;
      box-shadow: none;
      height: 22px;
      background: none; }
  .search-add button {
    border: 0;
    color: #EB7571;
    background: none;
    float: left;
    margin-top: -6px;
    height: auto; }
    .search-add button i {
      padding: 0;
      font-size: 22px;
      color: #EB7571; }

.viewall {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 10px; }
  .viewall a {
    color: #EB7571; }
    .viewall a:hover {
      text-decoration: underline !important; }

.head-popup-right {
  background: linear-gradient(90deg, #2F4F4F 0%, #53993A 100%);
  padding: 10px !important; }
  .head-popup-right h5 {
    text-transform: uppercase;
    font-size: 14px;
    color: white; }
  .head-popup-right a i {
    font-size: 20px;
    color: white;
    float: left;
    margin-top: -7px; }
  .head-popup-right span i {
    font-size: 16px;
    font-weight: normal;
    color: white; }

.modal-content {
  border: 0; }

.btn-action-popup a i {
  font-size: 20px;
  color: #53993A; }

.table td, .table th {
  border: 1px solid #dadada; }

.table .thead-light th {
  color: #495057;
  background-color: #f8f9fa;
  border-color: #e4e4e4;
  border-bottom: 0 !important; }

.table-popup table tr td {
  padding: 5px;
  vertical-align: initial; }

.btn-action-popup {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
